ul {
    list-style: none;
}

.parent {
    position: relative;
    cursor: pointer;
    background: url(../images/expand.gif) no-repeat;

}

.parent:before {
    padding-left: 10px;
    background: url(../images/collapse.gif) no-repeat;
    background-position: -25px top;
    content: "";
    height: 25px;
}

.closse:before {
    background-position: 0 top;
    padding-left: 20px;
}

.parent > ul {
    display: none;
}

.parent.closse{
    background: none !important;
    padding-left: 0 !important;
}

li{
    background: url(../images/dottedangle.gif) no-repeat;
    padding-left: 20px;
    margin: 10px 0;
}

ul{
    margin-left: 0px;
    padding-left: 20px;
}
